{{ chkbx_query }}
<div class="docs-content" style="padding:20px;">
    <strong>Result Found : {{ model|length }}</strong><br /><br />
    {% if model %}
    {% for row in model %}

    <div style="margin-bottom:10px;">
    <div>{{ row.go_num }}. <a href="{{ base_url }}search/{{ detail_url }}?id={{ row.go_id }}&query={{ query }}">http://www.geneontology.org/go#{{ row.go_id }}</a></div>
    <div style="margin-left:20px;">{{ row.go_name }}</div>
    </div>

    {% endfor %}
    {% else %}
    <h3>Data Not Found</h3>
    {% endif %}
</div>
