<style>
    .search-input {
        width: 560px!important;
        height: 40px!important;
        border-radius: 20px!important;
        padding-left: 20px!important;
        box-sizing: border-box!important;
        color: #16A085!important;
        font-size: 16px!important;
    }
    #search-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 76px;
        height: 40px;
        background-color: #2ECC71;
        border-radius: 0 40px 40px 0;
        border: none !important;
        -webkit-transition: all .2s ease;
        font-size: 18px;
        color: #fdfdfd;
        text-align: center;
        display: none;
        opacity: 0;
        margin-right: -2px;
        background-repeat: no-repeat;
    }
    #search-text {
        width: 575px!important;
        margin: 0 auto;
    }
</style>
<div class="panel-body">
    <div class="row">
        <form action="{{ base_url }}search/result/" method="post" name="search">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-4" id="search-text">
                    <input type="text" id="query-search" name="query" class="form-control input-sm search-input" placeholder="Type Your Keyword" value="{{ query }}" />
                    <input type="submit" id="search-button" style="display: inline; opacity: 100;" value="Search" />
                </div>
            </div>
            <div class="row col-md-4">
                {% if expand_query %}
                <input type="checkbox" id="checkbox-button" name="expand_query" checked="checked"/> Expand Query
                {% else %}
                <input type="checkbox" id="checkbox-button" name="expand_query" /> Expand Query
                {% endif %}
            </div>
        </form>
    </div>
    <div class="row" id="panel-menu">
        {{ content }}
    </div>
</div>
