{% load staticfiles %}
<li class="header">MAIN NAVIGATION</li>
<li>
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Home</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
</li>
{% if content %}
    {% for key,value in content.items %}
        <li class="treeview {% if key == active_key %}active{% endif %}">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>{{ key }}</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                {% for item in value %}
                    {% if item.function_id == function_id %}
                    <li class="active"><a href="{{ base_url }}manage{{ item.url }}"><i class="fa fa-circle-o"></i> {{ item.name }}</a></li>
                    {% else %}
                    <li><a href="{{ base_url }}manage{{ item.url }}"><i class="fa fa-circle-o"></i> {{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endif %}
