.docs-container {
  padding-top: 20px;
}

.docs-content {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 20px;
    padding:20px;
}

label.control-label {

}

label {
    display: inline-block;
    max-width: 100%;
}

.own_require {
  color: #e11717;
  font-size: 6px !important;
  vertical-align: super;
  margin-left: 5px;
}
