<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
                {% if model %}
                    <div class="col-sm-6">
                        <div class="form-group col-md-12">
                            <div class="col-sm-6">Name<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-6">
                                {{ model.name }}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <a id="btnEdit" class="btn btn-default btn-sm">Edit</a>
                                <a id="btnClose" class="btn btn-default btn-sm">Close</a>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $("#btnEdit").click(function(){ $(location).attr("href","{{ base_url }}manage/modules/edit/{{ model.pk }}"); });
                        $("#btnClose").click(function(){ $(location).attr("href","{{ base_url }}manage/modules/"); });
                    </script>
                {% else %}
                    <h3>Data Not Found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

