<style>
    .search-input {
        width: 560px!important;
        height: 40px!important;
        border-radius: 20px!important;
        padding-left: 20px!important;
        box-sizing: border-box!important;
        color: #16A085!important;
        font-size: 16px!important;
    }
    #search-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 76px;
        height: 40px;
        background-color: #2ECC71;
        border-radius: 0 40px 40px 0;
        border: none !important;
        -webkit-transition: all .2s ease;
        font-size: 18px;
        color: #fdfdfd;
        text-align: center;
        display: none;
        opacity: 0;
        margin-right: -2px;
        background-repeat: no-repeat;
    }
    #search-text {
        width: 575px!important;
        margin: 0 auto;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <form action="" method="post" name="search">
            {% csrf_token %}
            <div class="form-group col-md-4" id="search-text">
                <input type="text" id="query-search" name="query" class="form-control input-sm search-input" placeholder="Type Your Keyword" value="{{ query }}" />
                <input type="submit" id="search-button" style="display: inline; opacity: 100;" value="Search" />
            </div>
        </form>
    </div>
</div>
<div class="docs-content" style="margin-top: 20px; padding:20px;">
    {% if model %}
    {% for row in model %}

    <div style="margin-bottom:10px;">
    <div>{{ row.go_num }}. <a href="{{ base_url }}detailgo?id={{ row.go_id }}&query={{ query }}">http://www.geneontology.org/go#{{ row.go_id }}</a></div>
    <div style="margin-left:20px;">{{ row.go_name }}</div>
    </div>

    {% endfor %}
    {% else %}
    <h3>Data Not Found</h3>
    {% endif %}
</div>
