{% load staticfiles %}
<style>
    .icon-function {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #2ECC71;
        cursor: pointer;
    }

    .icon-group {
        float: left;
        margin: 10px;
    }

    .icon-text {
        margin-top:5px;
    }
</style>
{% if model %}
    {% for row in model %}
        {% if row.is_public %}
        <div class="icon-group">
            <a href="{{ base.url }}{{ row.url }}" style="text-decoration:none">
                <div class="icon-function" id="btn" style="background-image:url('{{base_url}}{{ row.icon }}')"></div>
                <div class="icon-text"><center>{{ row.name }}</center></div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
