{% load staticfiles %}
<html>
    <head>
        <title>Gene Ontology</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{% static 'css/apps.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet/less" href="{% static 'css/table.less' %}" />
        <script type="text/javascript" src="{% static 'js/less/less.setting.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/less/less.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %}">
        <!-- Morris chart -->
        <link rel="stylesheet" href="{% static 'plugins/morris/morris.css' %}">
        <!-- jvectormap -->
        <link rel="stylesheet" href="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">
        <!-- Date Picker -->
        <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker-bs3.css' %}">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <a href="" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>A</b>P</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Admin</b>Page</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                  <!-- Sidebar toggle button-->
                  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                  </a>
                  <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                      <!-- Tasks: style can be found in dropdown.less -->
                      <!-- User Account: style can be found in dropdown.less -->
                      <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <span class="hidden-xs">User Login</span>
                        </a>
                        <ul class="dropdown-menu">
                          <!-- Menu Footer-->
                          <li class="user-footer">
                            <div class="pull-right">
                              <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>
            </header>
            <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Home</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Privilege Management</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active"><a href=""><i class="fa fa-circle-o"></i> User Info</a></li>
                                <li><a href="{{ base_url }}manage/userinfo"><i class="fa fa-circle-o"></i> User Type</a></li>
                                <li><a href=""><i class="fa fa-circle-o"></i> User Group</a></li>
                                <li><a href=""><i class="fa fa-circle-o"></i> Privilege Info</a></li>
                                <li><a href=""><i class="fa fa-circle-o"></i> Function Info</a></li>
                            </ul>
                        </li>
                        <li class="active treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Application</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <div class="content-wrapper">
            <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>Dashboard</h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <section class="col-lg-12">
                        {{ content }}
                    </section>
                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->
            <footer class="main-footer">
            </footer>
        </div>
        <!-- jQuery 2.1.4 -->
        <script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{% static 'jquery-ui.min.js' %}"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.5 -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- Morris.js charts -->
        <script src="{% static 'raphael-min.js' %}"></script>
        <script src="{% static 'plugins/morris/morris.min.js' %}"></script>
        <!-- Sparkline -->
        <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script>
        <!-- jvectormap -->
        <script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
        <!-- jQuery Knob Chart -->
        <script src="{% static 'plugins/knob/jquery.knob.js' %}"></script>
        <!-- daterangepicker -->
        <script src="{% static 'js/moment.min.js' %}"></script>
        <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
        <!-- datepicker -->
        <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
        <!-- Slimscroll -->
        <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'dist/js/app.min.js' %}"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="{% static 'dist/js/pages/dashboard.js' %}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{% static 'dist/js/demo.js' %}"></script>
    </body>
</html>

