{% load staticfiles %}
<style>
    .icon-function {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #2ECC71;
        cursor: pointer;
    }

    .icon-group {
        float: left;
        margin: 10px;
    }

    .icon-text {
        margin-top:5px;
    }
    #btnPlant {
        background-image: url("{% static 'images/tree.jpg' %}");
    }
</style>
<div class="icon-group">
    <div class="icon-function" id="btnPlant"></div>
    <div class="icon-text"><center>Plant</center></div>
</div>
<script type="text/javascript">
    function getPage(url) {
        $.ajax({
            url: url,
            success : function(result) {
                $("#panel-menu").html(result);
            }
        });
    }
    $("#btnPlant").click(function() {
        getPage("{{ base_url }}menu?id=1");
    });
</script>
