{% load staticfiles %}
<style>
    .icon-function {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #2ECC71;
        cursor: pointer;
    }

    .icon-group {
        float: left;
        margin: 10px;
    }

    .icon-text {
        margin-top:5px;
    }
    #btnLeaf {
        background-image: url("{% static 'images/leaftree.jpg' %}");
    }
    #btnStem {
        background-image: url("{% static 'images/stem.jpg' %}");
    }
</style>
<div class="icon-group">
    <div class="icon-function" id="btnLeaf"></div>
    <div class="icon-text"><center>Leaf</center></div>
</div>
<div class="icon-group">
    <div class="icon-function" id="btnStem"></div>
    <div class="icon-text"><center>Stem</center></div>
</div>
<!--
<div class="icon-group">
    <div class="icon-function" id="btnRoot"></div>
    <div class="icon-text"><center>Root</center></div>
</div>-->
<script type="text/javascript">
    function getPage(url) {
        $.ajax({
            url: url,
            success : function(result) {
                $("#panel-menu").html(result);
            }
        });
    }
    $("#btnLeaf").click(function() {
        getPage("{{ base_url }}viewitemblank/?id=1");
    });
    $("#btnStem").click(function() {
        getPage("{{ base_url }}viewitemblank/?id=2");
    });
    $("#btnRoot").click(function() {
        getPage("{{ base_url }}viewitemblank/?id=3");
    });
</script>
