<div class="row">
    <div class="col-md-12">
        <form action="{{ search_url }}" method="post" name="search">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="query" class="form-control input-sm" placeholder="Type Your Keyword" value="{{ query }}" /><br />
                <input type="submit" class="btn btn-default" value="Search" />
            </div>
        </form>
    </div>
</div>
<div class="docs-content" style="padding:20px;">
    {% if model %}

    <div style="margin-bottom:10px;">
        <div><b>Term IRI :</b> http://www.geneontology.org/go#{{ model.go_id }}</div>
        <div><b>Class :</b> {{ model.go_name }}</div>
        <div><b>Definition :</b> {{ model.go_definition }}</div>
        {% if model.go_synonym %}
        <div><b>Synonym :</b> <br />
            {% for synonym in model.go_synonym %} <div style="margin-left:10px">{{ synonym }}</div> {% endfor %}
        </div>
        {% endif %}
        {% if model.go_is_a %}
        <div><b>is a :</b> <br />
            {% for is_a in model.go_is_a %} <div style="margin-left:10px"><a target="_blank" href="{{ base_url }}detailgo?id={{ is_a }}">http://www.geneontology.org/go#{{ is_a }}</a></div> {% endfor %}
        </div>
        {% endif %}

        {% if dict_hierarcys %}
        <div><b>hierarcy :</b> <br />
            {% for item in dict_hierarcys %}
                {% for key, value in span_parent.items %}
                    {% if key == item.go_id %}
                        <span style="margin-left:{{ value }}px"></span>
                    {% endif %}
                {% endfor %}
                <a target="_blank" href="{{ base_url }}detailgo?id={{ item.go_id }}">+ [{{ item.go_id }}] {{ item.go_name }}</a><br />
            {% endfor %}
            <span style="margin-left:{{ tab }}px"></span><strong>- [{{ model.go_id }}] {{ model.go_name }}</strong><br />
        </div>
        {% endif %}
    </div>

    {% else %}
    <h3>Data Not Found</h3>
    {% endif %}
</div>