<div class="row">
    <div class="col-md-12">
        <form action="" method="post" name="search">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="query" class="form-control input-sm" placeholder="Type Your Keyword" value="{{ query }}" /><br />
                <input type="submit" class="btn btn-default" value="Search" />
            </div>
        </form>
    </div>
</div>
<div class="docs-content" style="padding:20px;">
    {% if model %}
    {% for row in model %}

    <div style="margin-bottom:10px;">
    <div>{{ row.go_num }}. <a href="{{ base_url }}detailgo?id={{ row.go_id }}&query={{ query }}">http://www.geneontology.org/go#{{ row.go_id }}</a></div>
    <div style="margin-left:20px;">{{ row.go_name }}</div>
    </div>

    {% endfor %}
    {% else %}
    <h3>Data Not Found</h3>
    {% endif %}
</div>