<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                 <div class="form-group col-md-12">
                     <span class="pull-right">
                        <button type="button" id="btnCreate" class="btn  btn-default btn-sm">Create</button>
                     </span>
                     <script>
                         $("#btnCreate").click(function() {
                            $(location).attr("href","{{ base_url }}/manage/functions/create");
                         });
                     </script>
                </div>
                {% if model %}
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 75px"></th>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Is Active</th>
                        <th>Is Show</th>
                    </tr>
                    {% for row in model %}
                    <tr>
                        <td>
                            <a href="{{ base_url }}/manage/functions/edit/{{ row.id }}" class="btn btn-default btn-xs" style="text-decoration:none;padding:5px 5px;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="#" onclick="deleteFunction('{{ row.id }}')" class="btn btn-default btn-xs" style="text-decoration:none;padding:5px 5px;">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                        <td>
                            <a href="{{ base_url }}/manage/functions/detail/{{ row.id }}">
                            {{ row.name }}
                            </a>
                        </td>
                        <td>{{ row.url }}</td>
                        <td>{% if row.is_active %}Yes{% else %}No{% endif %}</td>
                        <td>{% if row.is_show %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
                <script>
                    function deleteFunction(id) {
                        var result = confirm("are you sure want to delete this data?");
                        if (result) {
                            window.location = "{{ base_url }}/manage/functions/delete/" + id;
                        }
                        return false;
                    }
                </script>
                {% else %}
                <h3>Data Not Found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
