<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" name="input" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{% if model %}{{ model.pk }}{% endif %}" />
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Function Id<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="text" name="function_id" class="form-control input-sm" value="{% if model %}{{ model.function_id }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Name<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="text" name="name" class="form-control input-sm" value="{% if model %}{{ model.name }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">URL<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="text" name="url" class="form-control input-sm" value="{% if model %}{{ model.url }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Sequence<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="number" name="sequence" class="form-control input-sm" value="{% if model %}{{ model.sequence }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Is Active<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="is_active" {% if model %}{% if model.is_active %}checked="checked"{% endif %}{% endif %} value="{% if model %}{{ model.is_active }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Is Show<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="is_show" {% if model %}{% if model.is_show %}checked="checked"{% endif %}{% endif %} value="{% if model %}{{ model.is_show }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Is Public<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="is_public" {% if model %}{% if model.is_public %}checked="checked"{% endif %}{% endif %} value="{% if model %}{{ model.is_public }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Icon<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="file" id="image_file" name="image_file" accept="image/*"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Preview</div>
                        <div class="col-sm-3">
                            <div id="preview">
                                {% if model %}
                                    {% if model.icon %}
                                        <div class="taggd-wrapper">
                                            <img src="{{ base_url }}{{ model.icon }}" class="image" />
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <input type="hidden" name="preview" value="{% if model %}{{ model.icon }}{% endif %}">
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-default btn-sm" value="Save" />
                            <a href="javascript:void(0)" id="btnCancel" onclick="$(location).attr('href','{{ base_url }}manage/functions')" class="btn btn-default btn-sm">Cancel</a>
                        </div>
                    </div>
                    <script>
                        $('#image_file').on('change', function(e) { loadPreview(); });
                        function loadPreview() {
                            var $el = $('#image_file');
                            var el = $el.get(0);
                            if (el.files.length > 0) {
                                var _this = this;
                                var $elpriv = $('#preview');
                                var reader = new FileReader();
                                var i = 0;
                                var file = el.files[0];
                                reader.onloadend = function() {
                                    while ($elpriv.children().length) {
                                        $elpriv.children().remove();
                                    }
                                    var img = new Image();
                                    img.src = reader.result;
                                    $elpriv.append(img);
                                };
                                reader.readAsDataURL(file);
                            }
                        }
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
