<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Demo{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
            <footer>
            </footer>
        </div> <!-- /container -->
        
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        <script src="/static/js/lib/bootstrap-collapse.js"></script>
        <script src="/static/js/base.js"></script>
    </body>
</html>