<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" name="input" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{% if model %}{{ model.pk }}{% endif %}" />
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Name<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="text" name="name" class="form-control input-sm" value="{% if model %}{{ model.name }}{% endif %}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
